@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1 {
  font-family: 'Rajdhani';
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: #2e2e2e;
}

h2 {
  font-family: 'Rajdhani';
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #2e2e2e;
}

body {
  font-family: 'Open Sans';
  background-color: #f5f5f5;
  margin-top: 100px;
  margin-bottom: 80px;
  margin-right: 20%;
  margin-left: 20%;
}

body p{
  color: #6b6b6b;
  font-size: 24px;
  text-align: center;
}

a {
  color: #33a0ce;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}


a:link {
  color: #33a0ce;
}

a:visited {
  color: #33a0ce;
}

a:hover {
  color: #247699;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    color: inherit;
    font-size: 12px;
}

div.navbar li {
    float: left;
    color: inherit;
    background-color: white;
    font-size: 18px;
}

div.navbar li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    background-color: white;
    font-size: inherit;
    display: inline-block;
}

div.navbar li a:hover:not(.active) {
    color: #33a0ce;
    background-color: #e2f6ff;
    font-size: inherit;

}

div.navbar .active {
    font-size: inherit;
    color: white;
    background-color: #33a0ce;


}

div.topbar {
  font-family: 'Rajdhani';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  align-self: center;
  height: 50px;
  background-color: #fff;
}

div.topbar p{
  font-size: 16px;
  text-align: center;
}

footer {
  font-family: 'Rajdhani';
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  align-self: center;
  height: 50px;
  background-color: #fff;
}

footer p{
  font-size: 16px;
  text-align: center;
}

img.general{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.pics{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.pics0{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.pics1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
